.hero {
	margin-bottom: var(--margin-hero);
}

.content {
	display: grid;
	grid-template-columns: 43rem 1fr;
	gap: var(--gap-large);
	align-items: center;
}

.textBlock {
	display: flex;
	flex-direction: column;
	gap: 0 var(--gap-medium);
}

.title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 3.5rem;
	color: var(--primary-color);
	text-wrap: normal;
	margin-bottom: 3rem;
	span {
		text-wrap: nowrap;
	}
}

.subtitle {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 2.25rem;
	color: var(--primary-color);
	padding-bottom: 3rem;
}


.imageBlock {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	max-width: 100%;
	height: auto;
	display: block;
}
